.footer {
  @apply relative w-full flex flex-col bg-primary text-[rgb(211,211,211)] py-8;
  a {
    @apply text-white;
  }
}
.container {
}

/* Main Footer */
.footerGrid {
  @apply pb-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5;
  gap: 1rem;
  grid-template-areas: "logo col1 col2 col3 col4";
  grid-template-columns: minmax(200px, 2fr) repeat(4, minmax(0, 1fr));
}

.logoCol {
  /* @apply ; */
  grid-area: logo;
}
.logoTitle {
  @apply text-xl font-bold mb-3;
}
.listCol {}

.footerSocialMenu {
  @apply flex gap-3;
}
.footerLink {
    @apply relative block mt-8 w-5 h-5 text-[#cdcdcd] hover:opacity-80;

    svg {
      @apply w-full h-full fill-white;
    }
  }
.socialIcon {
  @apply w-5 h-5;
}
.list1{
  grid-area: col1;
}
.list2{
  grid-area: col2;
}
.list3{
  grid-area: col3;
}
.list4{
  grid-area: col4;
}
.listTitle {
  @apply text-sm text-[#cdcdcd] font-semibold mb-2 leading-7 ;
}
.footerMenu {
  @apply list-none
}
.footerMenuItem {
  /* @apply  ; */
  a {
    @apply text-[13px] text-[#cdcdcd] leading-7 no-underline hover:opacity-80 ;
  }
}

/* Legal */
.copyFooter {
  @apply pt-6 border-t border-[#858585];
}

.copyText {
  @apply text-xs text-[#cdcdcd] mt-0 mb-1 ;
}
